@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #282A3A;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
    font-family: var(--secular-font);
    text-align: center;
    text-shadow: 0px 0px 3px #2020208c;
}

.border-dark-subtle {
    border-color: var(--border-dark-subtle) !important;
}

/* / * Animasiýa nyşanlarynyň dizaýnyny ýazmak * / */
.animate-typing>span:not(:nth-last-child(1)) {
    color: #ff3e61;
    font-weight: 400;
    text-shadow: 1px 1px 3px #ffffff6e;
}

/* Kursoryň dizaýny */
.animate-typing>span:nth-last-child(1) {
    border-left: 2px solid #fff;
    animation: blink 1s step-end infinite;
}

/*Göz gyrpmak üçin janly ýazuw kursory */
@keyframes blink {
    50% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

/* Elementi gizläň */
.animate-typing>span.char-hide {
    display: none;
}